@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


body{
    background-color: #1E1014;


} 

a{
    text-decoration: none;
    color:rgb(255, 0, 0);
}

header.header_accueil{
    margin:auto;
    height:200px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

h1.titre_page{
    color:rgb(255, 255, 255);
    font-family: 'Ubuntu', sans-serif;
    position:relative;
    padding-left:40px;
    padding-top:20px;
    text-align: center;
    font-size: 40px;

}

button.bouton0{
    display:flex;
    background-color: #ffffff;
    color:rgb(255, 0, 0);
    font-family: 'Source Sans Pro', sans-serif; 
    cursor:pointer;
    font-size:20px;

    padding-left:60px;
    padding-right:60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
}

button.bouton1{
    display:flex;
    background-color: #ffffff;
    color:rgb(255, 0, 0);
    font-family: 'Source Sans Pro', sans-serif; 
    cursor:pointer;
    font-size:20px;

    padding-left:60px;
    padding-right:60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
}









